<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>SampleApp</title>
    </head>
    <body>
        依頼編集ページ
        <article>
            <form class="request-form" action="//localhost:8080/client/update_request" method="post">
                <label>依頼名</label><br>
                <input type="text" name="RequestName"><br>
                <label>依頼内容</label><br>
                <input type="text" name="Content"><br>
                <input type="hidden" name="request_id" value={{.request_id}}>
                <input type="submit" value="送信">
            </form>
        </article>
    </body>
</html>
