<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>SampleApp</title>
    </head>
    <body>
        提出物一覧
        <form class="submissions-form" action="//localhost:8080/client/decide_winner" method="post">
            <ul>
                {{range .submissions}}
                <p><input type="radio" name="engineer_id" value={{.EngineerID}}>提出物：{{.Content}},提出日：{{.CreatedAt}},更新日時：{{.UpdatedAt}}</p>
                {{end}}
            </ul>
            <input type="hidden" name="request_id" value={{.request_id}}>
            <input type="submit" value="勝者を決定する">
        </form>
    </body>
</html>