<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>SampleApp</title>
    </head>
    <body>
        依頼詳細ページ
        {{if .winner_is_empty}}
        <p>依頼者：{{.client.User.Name}}</p>
        <p>依頼名：{{.request.RequestName}}</p>
        <p>依頼内容：{{.request.Content}}</p>
        <p>コンペ：開催中</p>
        <p>依頼内容：{{.request.Content}}</p>
        <p>依頼日時：{{.request.CreatedAt}}</p>
        <p>更新日時：{{.request.UpdatedAt}}</p>
        {{else}}
        <p>依頼者：{{.client.User.Name}}</p>
        <p>依頼名：{{.request.RequestName}}</p>
        <p>依頼内容：{{.request.Content}}</p>
        <p>コンペ：終了</p>
        <p>勝者：{{.winner_engineer.User.Name}}</p>
        <p>依頼内容：{{.request.Content}}</p>
        <p>依頼日時：{{.request.CreatedAt}}</p>
        <p>更新日時：{{.request.UpdatedAt}}</p>
        <p>提出物はこちら(提出物にアクセスできるようにする)</p>
        {{end}}
    </body>
</html>