<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>SampleApp</title>
    </head>
    <body>
        提出物提出ページ
        <article>
            <form class="request-form" action="//localhost:8080/engineer/update_submission" method="post">
                <label>提出物の内容</label><br>
                <input type="text" name="Content"><br>
                <input type="hidden" name="submission_id" value={{.submission.ID}}>
                <input type="hidden" name="engineer_id" value={{.submission.EngineerID}}>
                <input type="hidden" name="request_id" value={{.submission.RequestID}}>
                <input type="submit" value="送信">
            </form>
        </article>
    </body>
</html>