<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>SampleApp</title>
    </head>
    <body>
        リクエストに参加する場合、ボタンをクリックしてください。
        <form class="join-engineer-form" action="//localhost:8080/engineer/create_engineer_join" method="post">
            <input type="hidden" name="request_id" value={{.request_id}}>
            <input type="hidden" name="engineer_id" value={{.engineer_id}}>
            <input type="submit" value="リクエストに参加する">
        </form>
    </body>
</html>